<template>
  <div>
    <h1>Create An Item</h1>
    <!-- <form v-on:submit.prevent="addItem" @submit.prevent="validateBeforeSubmit"> -->
    <form @submit.prevent="validateBeforeSubmit">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Item Name:</label>
            <input type="text" class="form-control" v-model="item.name" v-validate="'required'" name="name">
            <span v-show="errors.has('name')" style="color:red">{{ errors.first('name') }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Item Price:</label>
            <input type="text" class="form-control col-md-6" v-model="item.price" v-validate="'required|decimal'" name="price"/>
            <br>
            <span v-show="errors.has('price')" style="color:red">{{ errors.first('price') }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Stock Quantity:</label>
            <input type="text" class="form-control col-md-6" v-model="item.stock" v-validate="'required|numeric'" name="stock"/>
            <br>
            <span v-show="errors.has('stock')" style="color:red">{{ errors.first('stock') }}</span>
          </div>
        </div>
      </div>

      <br />
      <div class="form-group">
        <button class="btn btn-primary">Add Item</button>
      </div>
    </form>
  </div>
</template>
<script>
  export default {
    data(){
        return{
          item:{}
        }
    },
    methods: {
      addItem(){
        let uri = 'http://localhost:8000/items';
        this.axios.post(uri, this.item).then((response) => {
          this.$router.push({name: 'DisplayItem'})
        })
        .catch(e => {
                console.log(e);
              });
      },
      validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          // eslint-disable-next-line
          //alert('From Submitted!');
          this.addItem();
          return;
        }
          //alert('Please correct them errors before submiting!');
      });
    }

  }
}
</script>