<template>
    <div>
        <h1>Items</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <router-link :to="{ name: 'CreateItem' }" class="btn btn-primary">Create Item</router-link>
          </div>
        </div><br />
        <table class="table table-hover">
            <thead>
            <tr>
                <td>ID</td>
                <td>Item Name</td>
                <td>Item Price</td>
                <td>Stock</td>
                <td>Actions</td>
                <td>Increase Stock</td>
            </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <span v-if="item.stock === 0" style="color:red"> OUT OF STOCK</span>
                        <span v-else> {{ item.stock }}</span>
                    </td>
                    <td>
                        <router-link :to="{name: 'EditItem', params: { id: item.id }}" class="btn btn-primary">Edit</router-link>
                        <button class="btn btn-danger" v-on:click="deleteItem(item.id)">Delete</button>
                    </td>
                    <td><button class="btn btn-success" @click="addStock(item)">Add Stock +1</button></td>
                </tr>
            </tbody>
        </table>
        <h2>Total inventory: {{totalItems}}</h2>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                items: []
            }
        },        
        created: function()
        {
            this.fetchItems();
        },
        methods: {
            fetchItems()
            {
              let uri = 'http://localhost:8000/items';
              this.axios.get(uri).then((response) => {
                  this.items = response.data;
              });
            },
            deleteItem(id)
            {
              let uri = `http://localhost:8000/items/${id}`;
              this.items.splice(id, 1);
              this.axios.delete(uri).then(response => {
                this.fetchItems();
              })
              .catch(e => {
                console.log(e);
              });
            },
            addStock(item)
            {
              let uri = `http://localhost:8000/items/${item.id}/addStock`;
              this.axios.get(uri).then((response) => {
                    item.stock += 1;
                    //this.fetchItems();
                })
              .catch(e => {
                console.log(e);
              });

            }
        },
        computed: {
            totalItems(){
                return this.items.reduce((sum,item) => {
                    return sum + item.stock
                },0)
            }
        },
    }
</script>